<form [formGroup]="form">
  <div class="form-group">
    <label for="old-password">Old Password</label>
    <input formControlName="old" type="text" id="old-password" class="form-control">
  </div>
  <div *ngIf="old.invalid && old.touched" class="alert alert-danger">
    <div *ngIf="old.errors.invalidPassword">Password invalid</div>
    <div *ngIf="old.errors.required">Password should be required</div>
  </div>

  <div class="form-group">
    <label for="new-password">New password</label>
    <input formControlName="new" type="text" id="new-password" class="form-control">
  </div>
  <div *ngIf="new.invalid && new.touched" class="alert alert-danger">
      <div *ngIf="new.errors.required">Password should be required</div>
      <div *ngIf="new.errors.minlength">Password length should be {{ new.errors.minlength.requiredLength }}</div>
  </div>

  <div class="form-group">
    <label for="repeat-password">Repeat Password</label>
    <input formControlName="repeat" type="text" id="repeat-password" class="form-control">
    <div *ngIf="repeat.invalid && repeat.touched" class="alert alert-danger">
        <div *ngIf="repeat.errors.required">Password should be required</div>
        <div *ngIf="repeat.errors.minlength">Password length should be {{ repeat.errors.minlength.requiredLength }}</div>
    </div>
    <div *ngIf="form.invalid && form.errors?.passwordNotMatch" class="alert alert-danger">
      Password dont match
    </div>
  </div>
  <p>{{ form.errors | json }}</p>
  <button class="btn btn-default" (click)="submit()">Submit</button>
</form>